<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./public/styles/css/app.css">
    <title>Document</title>
</head>
<body>

    <header class="header">
        <div class="logo-nav">
            <a href="" class="logo-link"><img src="" alt="" class="logo-img"></a>
        </div>
        <nav class="navbar">
            <ul>
                <li class="nav-link"><a href="" class="link">link 1</a></li>
                <li class="nav-link"><a href="" class="link">link 2</a></li>
                <li class="nav-link"><a href="" class="link">link 3</a></li>
                <li class="nav-link"><a href="" class="link">link 4</a></li>
            </ul>
        </nav>
        <div class="user-header">users</div>
    </header>


    <footer></footer>
    
</body>
</html>