<config>
  <native xmlns="http://cisco.com/ns/yang/Cisco-IOS-XE-native">
    <router>  
    {% if eirgps is defined %}
      {% for eirgp in eirgps %}
        <eirgp xmlns="http://cisco.com/ns/yang/Cisco-IOS-XE-eirgp">
          <id> {{ eirgp["id"] }} </id>
          <address-family>
            <type>ipv4</type>
              <af-ip-vrf-list>
                  <vrf>{{ eirgp["vrf"] }}</vrf>
                    <set-as-in-submode>
                      <autonomous-system>200</autonomous-system>
                    </set-as-in-submode>
                    <network>
                      <number>{{ eirgp["network"] }}</number>
                        <wild-card>{{ ["mask"] }}</wild-card>
                    </network>
                     <redistribute>
                        <bgp>
                           <rdr-as>{{ eirgp["bgp-as"] }}</rdr-as>
                           <metric>
                              <bandwith>1500</bandwith>
                              <delay>100</delay>
                              <reliability>255</reliability>
                              <Effective>1</Effective>
                              <mtu>1500</mtu>
                           </metric>
                        </bgp>
                    </redistribute>
                </af-ip-vrf-list>
            </address-family
        </eirgp>
      {% endfor %}
    {% endif %}
    </router>
  </native>
</config>