router ospf {{ ospf_as_number }} vrf {{ vrf_a }}
  redistribute bgp {{ bgp_as_number }} {{ ospf_redistribute_bgp_type }}
  network {{ network_prefix_11 }} {{ network_wildcard_mask_3 }} area {{ ospf_area_10 }}
