router bgp {{ bgp_as_number }}
 bgp log-neighbor-changes
 neighbor {{ interface_loopback0_pe1 }} remote-as {{ bgp_as_number }}
 neighbor {{ interface_loopback0_pe1 }} update-source Loopback0
 address-family ipv4
  neighbor {{ interface_loopback0_pe1 }} activate
 exit-address-family
 address-family vpnv4
  neighbor {{ interface_loopback0_pe1 }} activate
  neighbor {{ interface_loopback0_pe1 }} send-community {{ bgp_neighbor_community }}
 exit-address-family
    