<config>
  <native xmlns="http://cisco.com/ns/yang/Cisco-IOS-XE-native">
    {% if vrfs is defined%} 
      <vrf>
       {% for vrf in vrfs %}
        <definition>
          <name>{{ vrf["name"] }}</name>
          <rd>{{ vrf["rd"] }}</rd>
          <route-target>
            <export>
              <asn-ip>{{ vrf["target-export"] }}</asn-ip>
            </export>
            <import>
              <asn-ip>{{ vrf["target-import"] }}</asn-ip>
            </import>
          </route-target>
        </definition>
      {% endfor %}      
      </vrf> 
    {% endif %}    
  </native>
</config>

