<config>
  <native xmlns="http://cisco.com/ns/yang/Cisco-IOS-XE-native">
    {% if vrf is defined%} 
      <vrf>
       {% for vrf in vrfs %}
        <definition>
        <name>{{ definition["name"] }}</name>
        <rd>{{ definition["rd"] }}</rd>
        <route-target>
          <export>
            <asn-ip>{{ definition["target-export"] }}</asn-ip>
          </export>
          <import>
            <asn-ip>{{ definition["target-import"] }}</asn-ip>
          </import>
        </route-target>
      </definition>
      {% endfor %}      
      </vrf> 
    {% endif %}    
  </native>
</config>

