<config>
  <native xmlns="http://cisco.com/ns/yang/Cisco-IOS-XE-native">
    <ip>
    {% if vrfs is defined%} 
      <vrf>
       {% for vrf in vrfs %}
          <name>{{ vrf["name"] }}</name>
          <rd>{{ vrf["rd"] }}</rd>
          <route-target>
            <direction>export</direction>
            <target>{{ vrf["target-export"] }}</target>
          </route-target>
          <route-target>
            <direction>impport</direction>
            <target>{{ vrf["target-import"] }}</target>
          </route-target>
      {% endfor %}      
      </vrf> 
    {% endif %}   
    </ip> 
  </native>
</config>
