#
# Nodes in the network
#
{% macro internal_link(name,ip) %}
{{ name }}: { ip: {{ip}} }{% endmacro %}
{% macro ibgp_session(from,to,ip) %}
{% if from != to %}
- { rid: {{to}}, ip: "{{ip}}" }{% endif %}{% endmacro %}
{% macro ebgp_session(from,to,as,ip,ecnt) %}
{% if from != to %}
- { rid: {{to}}, as: {{as}}, ip: "{{ip}}" }{% endif %}{% endmacro %}
