ip vrf {{ vrf_a }}
 rd {{ rd_a }}
 route-target export {{ route_target_export_a }}
 route-target import {{ route_target_import_a }}

ip vrf {{ vrf_b }}
 rd {{ rd_b }}
 route-target export {{ route_target_export_b }}
 route-target import {{ route_target_import_b }}

interface GigabitEthernet {{ pe1_interface_GigabitEthernet_00 }}
 ip vrf forwarding {{ vrf_a }}
 ip address {{ ip_address_pe2_00 }} {{ mask_4 }}
 no sh

interface GigabitEthernet {{ pe2_interface_GigabitEthernet_10 }}
 ip vrf forwarding {{ vrf_b }}
 ip address {{ ip_address_pe2_10 }} {{ mask_4 }}
 no sh
