ip vrf {{ vrf_a }}
 rd {{ rd_a }}
 route-target export {{ route_target_export_a }}
 route-target import {{ route_target_import_a }}

interface GigabitEthernet {{ interface_GigabitEthernet_00 }}
 ip vrf forwarding {{ vrf_a }}
 no sh

ip vrf {{ vrf_b }}
 rd {{ rd_b }}
 route-target export {{ route_target_export_b }}
 route-target import {{ route_target_import_b }}

interface GigabitEthernet {{ interface_GigabitEthernet_10 }}
 ip vrf forwarding {{ vrf_b }}
 no sh
